# Database Credentials
MONGO_INITDB_ROOT_USERNAME=YOUR_MONGO_USERNAME_HERE
MONGO_INITDB_ROOT_PASSWORD=YOUR_MONGO_PASSWORD_HERE
MONGODB_URI=mongodb://YOUR_MONGO_USERNAME_HERE:YOUR_MONGO_PASSWORD_HERE@mongo:27017/boss478?authSource=admin

# Admin Credentials
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD_HERE
ADMIN_TOKEN_SECRET=YOUR_ADMIN_TOKEN_SECRET_HERE

# Mongo Express
MONGO_EXPRESS_USERNAME=YOUR_MONGO_EXPRESS_USERNAME_HERE
MONGO_EXPRESS_PASSWORD=YOUR_MONGO_EXPRESS_PASSWORD_HERE
