# Database Credentials
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password123
MONGODB_URI=mongodb://admin:password123@mongo:27017/boss478?authSource=admin

# Admin Credentials
ADMIN_PASSWORD=boss478admin
ADMIN_TOKEN_SECRET=b0ss478-s3cr3t-k3y-ch4ng3-th1s
