@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --backdrop-blur-2xs: 2px;
  --backdrop-blur-3xs: 1.5px;
  --backdrop-blur-4xs: 1px;
  --backdrop-blur-5xs: 0.5px;
  --backdrop-blur-6xs: 0.25px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility animate-slide-down {
  animation: slideDown 0.8s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@utility animate-slide-up {
  animation: slideUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes floatUpFade {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px) scale(0.5);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, -20px) scale(1.1);
  }
  40% {
    transform: translate(-50%, -30px) scale(1);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, -50px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -80px) scale(0.9);
  }
}

@utility animate-float-up-fade {
  animation: floatUpFade 0.8s ease-out forwards;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-mali), var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

@layer base {
  *,
  *::before,
  *::after {
    transition:
      background-color 500ms ease,
      border-color 500ms ease,
      color 500ms ease,
      translate 300ms ease,
      transform 300ms ease,
      box-shadow 300ms ease,
      opacity 300ms ease;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-hover {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
